@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.yellow-gr {
    background: linear-gradient(139.27deg,  #FDBD07 0%, #FFA02D 93.57%);


}
.yellow-gr2 {
    background: linear-gradient(139.27deg,  #FDBD07 0%, #FFA02D 93.57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.phoneNumere input{
    outline: none;
    background:#fdb80b00;
}
.phoneNumere input::placeholder{
    color:#000;
    font-weight: 600;
}